html,
body,
#root {
  height: 100%;
  overflow: hidden;
}

.App {
  position: relative;
  display: flex;
  height: 100%;
  background-color: white;
}
.App .left {
  width: 250px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -100%;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
}
.left.show {
  left: 0;
}
.App .right {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.right header {
  text-align: right;
  padding: 12px 20px 0 0;
  font-size: 25px;
}

.right .page-container {
  flex: 1;
  overflow: hidden;
}
