html,
body,
#root {
  height: 100%;
  overflow: hidden;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 10px;
}

.App .canvas {
  flex: 1;
  box-sizing: border-box;
  border: 1px solid black;
}